<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, height=device-height"/>
    
    <meta name="image" content="logo.png">
    <meta name="image:width" content="1024">
    <meta name="image:height" content="1024">
    <meta name="type" content="website" />
    <meta name="url" content="https://arch-aleppo.herokuapp.com"/>
    <meta name="title" content="arch aleppo" />
    <meta name="description" content="يقوم موقعنا بتقديم المساعدة لطلاب الهندسة المعمارية من حيث تأمين كورسات تعليمية للبرامج الهندسية وغيرها بالاضافة لامكانية تحميل البرامج بشكل مباشر مع طرق التنصيب وتفعيل النسخ المدفوعة مجانا بالاضافة لعرض مشاريع الطلاب المنجزة لتعزيز التغذية البصرية وعرض الواجبات المطلوب انجازها" />
  
    <!-- bootstrap css -->
    <link href="bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="apps.css">
    <title>apps</title>
</head>
<body>
    <!-- navbar start -->
  <nav class="navbar navbar-light bg-light fixed-top" id="nav">
    <div class="container-fluid">

      <!-- navbar-logo -->
      <a class="navbar-brand" href="#">Apps</a>

      <!-- hamberger button -->
      <button class="navbar-toggler" id="navbar-toggler" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" style="box-shadow: none !important;">

        <!-- hamberger icon -->
        <span class="navbar-toggler-icon"></span>

      </button>

      <!-- list menu -->
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

        <!-- header side menu -->
        <div class="offcanvas-header">

          <h5 class="offcanvas-title" id="offcanvasNavbarLabel" style="font-weight: bold;">
            </h5>

          <!-- close button -->
          <button type="button" class="btn-close text-reset btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>

        </div>

        <a href="/">الرئيسية</a>
        <a href="/courses">الكورسات</a>
        <a href="/apps">تحميل البرامج</a>
        <a href="/shortcuts" style="display: none;">Shortcuts</a>
      </div>
  </nav>
  <!-- navbar end -->

  <div class="header">
    <div class="container">
      <div class="container1">
        <h2>Apps</h2>
        <h2>Apps</h2>
      </div>
    </div>
  </div>

  <div class="back">
  <!-- dropList start -->
  <div class="boreder">
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          AutoCAD
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="d-grid gap-2">
            <a class="btn btn-primary" href="https://t.me/eng_courses_aleppo/4">AutoCAD 2019</a>
            <a class="btn btn-primary" href="https://d48files.xyz/129/3/Pro/Autodesk.AutoCAD.Update.2021.1.x64.rar">AutoCAD 2021</a>
            <a class="btn btn-primary" href="https://t.me/eng_courses_aleppo/3">AutoCAD 2022</a>
            <a class="btn btn-primary" href="https://t.me/eng_courses_aleppo/7">تطبيق الكراك</a>
            <a class="btn btn-primary" href="https://youtu.be/Oh-MIqLNDZU">طريقة التثبيت والتفعيل</a>
            <a class="btn btn-primary" href="https://t.me/eng_courses_aleppo/10">اختصارات الاوتوكاد</a>
          </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Rhino
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="d-grid gap-2">
            <a class="btn btn-primary" href="https://t.me/eng_courses_aleppo/5">Rhino 5</a>
            <a class="btn btn-primary" href="https://drive.google.com/file/d/17sLfyHujR6vTIUy6LG8wk3mh96b-c033/view">Rhino 6</a>
            <a class="btn btn-primary" href="https://t.me/eng_courses_aleppo/6">تطبيق الكراك Rhino5</a>
            <a class="btn btn-primary" href="https://youtu.be/_FjQhmVrEOw">طريقة التثبيت والتفعيل Rhino5</a>
            <a class="btn btn-primary" href="https://youtu.be/gxfbodZTu48">طريقة التثبيت والتفعيل Rhino6</a>
          </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Photoshop
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="d-grid gap-2">
            <a class="btn btn-primary" href="https://s6.227server.xyz/Adobe_Photoshop_2022_v23.0.2.101x64_Multilingual.rar">Photoshop 2022</a>
          </div>
      </div>
    </div>
  </div>
  </div>
  <!-- droplist end -->
  <br><br><br><br><br>
</div>
    <!--=============== BOOTSTRAP JS ===============-->
    <script src="bootstrap.min.js"></script>

    <script>
      function loadDeviceSpecificFiles() {
        if (navigator.userAgent.toLowerCase().match(/android/)) {
          loadjscssfile("and_filename.js", "js"); //dynamically load JS
          loadjscssfile("and_filename.css", "css") //dynamically load css
          /*iPhone check*/
        } else if (navigator.userAgent.toLowerCase().match(/iphone/) || navigator.userAgent.toLowerCase().match(/ipad/)) {
          loadjscssfile("ios_filename.js", "js") //dynamically load JS
          loadjscssfile("ios_filename.css", "css") //dynamically load css
        }
      }
  
  
      function loadjscssfile(filename, filetype) {
        if (filetype == "js") { //if filename is a external JavaScript file
          var fileref = document.createElement('script')
          fileref.setAttribute("type", "text/javascript")
          fileref.setAttribute("src", filename)
        } else if (filetype == "css") { //if filename is an external CSS file
          var fileref = document.createElement("link")
          fileref.setAttribute("rel", "stylesheet")
          fileref.setAttribute("type", "text/css")
          fileref.setAttribute("href", filename)
        }
        if (typeof fileref != "undefined") document.getElementsByTagName("head")[0].appendChild(fileref)
      }
    </script>
</body>
</html>